.square {
	position: relative;
	width: 15px;
	height: 15px;
	background-color: #ededed;
	outline: 1px solid transparent;
}

.square:hover,
.square:focus-visible {
	outline-color: rgba(0, 0, 0, 0.5);
}

.level0 {
	background-color: #ededed;
}
.level1 {
	background-color: #acd5f2;
}
.level2 {
	background-color: #7fa8c9;
}
.level3 {
	background-color: #527ba0;
}
.level4 {
	background-color: #254e77;
}

.square[aria-selected="true"] {
	outline-color: #000000;
}
