.square {
	position: relative;
	width: var(--contrib-square-size);
	height: var(--contrib-square-size);
	background-color: var(--contrib-square-color-base);
	outline: var(--contrib-square-outline-width) solid transparent;
}

.square:hover,
.square:focus-visible {
	outline-color: var(--contrib-square-outline-hover);
}

.level0 {
	background-color: var(--contrib-square-color-base);
}
.level1 {
	background-color: var(--contrib-square-color-level-1);
}
.level2 {
	background-color: var(--contrib-square-color-level-2);
}
.level3 {
	background-color: var(--contrib-square-color-level-3);
}
.level4 {
	background-color: var(--contrib-square-color-level-4);
}

.square[aria-selected="true"] {
	outline-color: var(--contrib-square-outline-selected);
}
